# Database (Neon PostgreSQL)
DATABASE_URL="postgresql://neondb_owner:npg_cHK0R9uWExyq@ep-square-bonus-acyz06w8-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require"
# Server
PORT=3001
NODE_ENV=development

# JWT Secret
JWT_SECRET=your-secret-key-change-in-production

# Email (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=lauraguillarducciferreira@gmail.com
SMTP_PASS=llvo ptkf pxyq yrrv
EMAIL_FROM=lauraguillarducciferreira@gmail.com
DEFAULT_QUALITY_EMAIL=lauraguillarducciferreira@gmail.com
