# Database (Neon PostgreSQL)
DATABASE_URL="postgresql://neondb_owner:npg_cHK0R9uWExyq@ep-square-bonus-acyz06w8-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require"
# Server
PORT=3001
NODE_ENV=development

# JWT Secret
JWT_SECRET=f3bd6465c6add2ab647a9bc8454ee0c0fd81795d9134ead61d683c7bfae2a73fa3222beabc47f00aaf3b33542f5cdd3400ee15f2990f964817ba60f7b158069a

# Email (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=lauraguillarducciferreira@gmail.com
SMTP_PASS=llvo ptkf pxyq yrrv
EMAIL_FROM=lauraguillarducciferreira@gmail.com
DEFAULT_QUALITY_EMAIL=lauraguillarducciferreira@gmail.com
